@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Lato:ital,wght@0,100;0,300;1,100;1,400 & display=swap');

@font-face{
    font-family: Gotham;
    src: local(Gotham), url(../Gotham/Gotham-Light.otf);
}

@font-face{
    font-family: Gotham-Black;
    src: local(Gotham-Ultra), url(../Gotham/Gotham-Black.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gotham;
}

html,body{
    height: 100%;
}

body{
    background-color: #e2e2e2;
}

.clear{
    clear: both;
}

/* Início das configurações de cabeçalho*/

header{
    width: 100%;
    height: 190px;
    background: linear-gradient(#279eee, #236d9e);
    padding: 10px;
    box-shadow: 0px 2px 3px #279eee5d;
}

.logo-prefeitura{
    width: 90px;
    height: 90px;
    display: inline;
    float: left;
}

.logo-prefeitura img{
    width: 90px;
}

.logo-escola{
    width: 90px;
    height: 90px;
    display: inline;
    float: right;
}

.logo-escola img{
    width: 90px;
}

.center{
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}

/* Fim das configurações do cabeçalho*/

/* Configurações menu */
.center-nav{
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: 70px;
    text-align: center;
}

.center-nav li{
    width: 100%;
    margin: 0 auto;
    list-style: none;
    display: inline-block;
}

.center-nav li a{
    color: white;
    margin-right: 10px;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    transition: 0.6s;
}

.center-nav li a:hover{
    border-radius: 3px;
    background-color: #1f65c0;
}

.selecionado{
    background: #1f65c0;
    border-radius: 3px;
}

/* Fim das configurações do menu */


/* Início das configurações do Conteúdo */

.conteudo{
    padding: 8px;
    background-color: white;
    margin-top: 2px;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.336);
    font-size: 1.1em;
    padding-bottom: 0;
}

.imagem{
    border: 1px solid red;
    width: 150px;
    height: 150px;
    float: right;
}

.swiffy-slider{
<<<<<<< Updated upstream
=======
    border: 1px solid green;
    width: 100%;
    height: auto;
}

.slider-container{
    height: auto;
}

.slider-container li img{
    width: 80%;
    margin-left: 10%;
    height: auto;
    border: 1px solid red;
>>>>>>> Stashed changes
}


/* Fim das configurações do Conteúdo */

/* Início das configurações do rodapé */
footer{
    width: 100%;
    height: 100px;
    background: linear-gradient( #236d9e, #279eee);
    padding-top: 35px;
    box-shadow: 0px 2px 3px #279eee5d;
}

footer p{
    margin-top: 5px;
}

.txt-rodape{
    position: relative;
    top: 10px;
    text-align: center;
    color: white;
    font-size: 0.8em;
}

@media screen and (max-width:1024px) {

    .logo-escola, .logo-prefeitura{
        display: none;
    }

    header{
        height: 200px;
    }

    nav ul{
        margin-top: -59px;
        position: absolute;
        top: 0;
    }

    nav ul li{
        padding: 10px;
        display: block;
        width: 100%;
    }
}